# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.iml
misc.xml
dictionaries
modules.xml
vcs.xml
codeStyleConfig.xml
Project.xml
Project_Default.xml
compiler.xml
description.html
encodings.xml
uiDesigner.xml
profiles_settings.xml
*.class
.idea
